<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список услуг</title>

    <link rel="stylesheet" th:href="@{/css/admin_header.css}">
    <link rel="stylesheet" th:href="@{/css/admin_btn.css}">
    <link rel="stylesheet" th:href="@{/css/admin_content.css}">
</head>
<body>

<header th:replace="~{fragment/header :: header}"></header>

<main class="main-content">
    <div class="page-header">
        <h1>Список услуг</h1>
            <a href="/item/add" class="btn btn-add">Добавить услугу</a>
    </div>

    <section class="content-card">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена (руб.)</th>
                    <th>Длительность (мин.)</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="it : ${items}">
                    <td th:text="${it.title}"></td>
                    <td th:text="${it.info}"></td>
                    <td th:text="${it.price}"></td>
                    <td th:text="${it.duration}"></td>
                    <td th:text="${it.active ? 'Активна' : 'Скрыта'}"></td>

                    <td class="table-actions">
                        <a th:href="@{/items/edit/{id}(id=${it.id})}"
                           class="btn btn-add"
                           title="Редактировать">
                            Редактировать
                        </a>

                        <a th:if="${it.active}"
                           th:href="@{/items/delete/{id}(id=${it.id})}"
                           class="btn btn-delete"
                           title="Скрыть">
                            Скрыть
                        </a>

                        <a th:unless="${it.active}"
                           th:href="@{/items/restore/{id}(id=${it.id})}"
                           class="btn btn-add"
                           title="Восстановить">
                            Восстановить
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
<div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>