<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>

</head>
<body>
    
        <header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
            <a href="/" target="_blank">Главная</a>
            <a href="/items">Услуги</a>
            <a href="/locations">Адреса</a>
            <a href="/booking">Список заявок</a>
            <a href="/users">Пользователи</a>
        </header>
