<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог изображений</title>
            <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
        <h1>Каталог изображений</h1>
        <div th:each="pic : ${pictures}">
            <img th:src="|images/${pic.filename}|">
        </div>
        <a href="/" class="btn">На главную</a>
    </div>
</body>
</html>