<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
        <h1>Главная</h1>
        <div class="nav-links">
            <a href="/users" class="btn">Пользователи</a>
            <a href="/items" class="btn">Услуги</a>
            <a href="/locations" class="btn">Адреса</a>
            <a href="/online" class="btn">Записаться</a>
            <a href="/upload" class="btn">Загрузить изображение</a>
            <a href="/gallery" class="btn">Показать изображения</a>
            <a href="/booking" class="btn">Список заявок</a>
        </div>
    </div>
</body>
</html>
